<!doctype html>
<html lang="en">
  <head>
        <%- include('partials/head.ejs')%>
  </head>
  <body>
     <div class="vw-100 vh-100 row">
      <div class="col-md-3 bg-light p-5 d-flex justify-content-center align-items-center flex-column">
        <%- include('partials/navigation')%>
      </div>
      <div class="col-md-9 p-5">
        <h1 class="text-center display-3 fw-bold text-primary">About me</h1>
        <p class="fs-5 text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. In mollitia labore, pariatur at dolores minus optio veritatis nam repudiandae porro voluptate explicabo, ipsa assumenda magnam maxime est et tenetur iusto?
        Iste exercitationem ipsa in, earum, ad nisi nobis voluptatum dolore quas explicabo cupiditate placeat reiciendis corporis dolor. Optio molestiae fugit animi nesciunt enim dicta inventore? Ad itaque molestias nesciunt nam?
        Qui culpa alias provident ipsum autem est vero delectus distinctio quidem quia error quam amet aliquam fugiat non, suscipit animi eum incidunt. Autem laboriosam eius nulla dolorum doloribus minus veniam.
        Officiis impedit debitis quibusdam atque, nobis consequatur libero consequuntur possimus harum aliquam accusamus aut veritatis expedita totam? Tempora nisi atque doloribus aut quae debitis quasi ad obcaecati tenetur, expedita laborum.
        Commodi cumque consequuntur natus, eligendi ipsam totam voluptas maxime sunt nemo aperiam atque. Nam eligendi excepturi a, iusto, harum quasi pariatur ut eveniet maiores dicta eos dolorum hic aspernatur ea!
        Repellat voluptate, repellendus reiciendis doloribus quibusdam explicabo esse rem molestias tenetur nemo quisquam expedita, velit ad! Recusandae, eveniet! Repudiandae, quos? Harum iste iure explicabo ullam aut laborum officiis perspiciatis sequi?
        Possimus et minima assumenda fuga tenetur odio exercitationem provident quaerat nostrum quidem mollitia tempora ex esse, dignissimos ullam quisquam quos fugiat nihil quia, eaque aliquid! Deleniti doloribus sapiente quas dignissimos.
       </div>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  </body>
</html>